<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PlaceToBook</title>
        <link rel="stylesheet" href="../css/bootstrap.css" >
        <link rel="stylesheet" href="/css/style.css" >
    </head>
    <body>
        <%- include('common/header'); -%>
        <!-- Bookings form require:
                - ID of Accommodation
                - Number of People Staying
                - Date -->
        
		<div id="logreg-forms" class="container-md">
        	<form action="/" method="post" class="form-signin container-md">
				<h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Form to fill </h1>

				<input type="text" id="accID" name="accommodationID" class="form-control" placeholder="your acc ID number" required="" autofocus="">
				<input type="text" id="numP" name="numberPeople" class="form-control" placeholder="Total number of guests" required="">
                <input type="text" id="date" name="fullDate" class="form-control" placeholder="please select a date" required="">
				<hr>
				<button class="btn btn-success btn-block" type="submit" id="signin"><i class="fas fa-sign-in-alt"></i> Book it </button>
			</form>
    	</div>
        
        
    </body>
    <script src="../js/bootstrap.bundle.js" ></script>
</html>